@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Boldonse&family=Manrope:wght@200..800&family=Modak&family=Rubik+Vinyl&display=swap');

:root {

    --metal: "Bokor";
    --bold: "Boldonse";
    --skate: "Rubik Vinyl";
    --round: "Modak";
    --font: "Manrope";

}

