@font-face {
    font-family: cothamSans;
    src: url(../fonts/CothamSans.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

body {
    /* background-image: url(../img/bg.png); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    padding-left: 20px;;
}

html, body {
    height: 100%;
    margin: 0;
}

p, h1, h2, h3, h4, nav, li, ul, label, pre, form, fieldset, a, header, footer {
    color: white;
    font-family: "Radio Canada", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: bolder;
}

#fullscreen {
    width: 150px;
    align-content: center;
    display: block;
    margin-left: 0;
    margin-right: 25px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.gallerytext {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    font-size: xx-large;
}

.albumtitle {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: xx-large;
    font-weight: bold;
    text-shadow: #ffffff00 3px 3px 10px;
}

.albumartist {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: large;
    font-weight: lighter;
    text-shadow: #ffffff00 3px 3px 10px;
}

.albumcover {
    box-shadow: #ffffff00 5px 5px 10px;
    border: 2px solid #ffffffff;
    border-radius: 5px; 
}

footer {
    padding: 1rem;
    padding-top: 3rem;
    text-align:center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.definer {
    padding-left: 15px;
    padding-top:7px;
    margin: 0;
}

.definee {
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: x-large;
    font-weight: bold;
    text-shadow: #ffffff00 3px 3px 10px;
}

.albumitem {
    display: flex;
    flex-direction: row;
    align-items:last baseline;
    padding-top: 30px;
}

.albuminfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 0px;
}

.no-decor {
    text-decoration: none;
    list-style: none;
}

.tag {
  font-size: 0.8em; /* smaller text */
  opacity: 0.6;      /* less opaque */
}