@font-face {
    font-family: cothamSans;
    src: url(../fonts/CothamSans.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

body {
    /* background-image: url(../img/bg.png); */
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    padding-left: 20px;;
}

html, body {
    height: 100%;
    margin: 0;
}

p, h1, h2, h3, h4, nav, li, ul, label, pre, form, fieldset, a, header, footer {
    color: white;
    font-family: "Radio Canada", Arial, Helvetica, sans-serif;
}

#fullscreen {
    width: 40%;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.gallerytext {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    font-size: xx-large;
}

.albumtitle {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: xx-large;
    font-weight: bold;
    text-shadow: #fff 3px 3px 10px;
}

.albumartist {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: large;
    font-weight: lighter;
    text-shadow: #fff 3px 3px 10px;
}

.albumcover {
    box-shadow: #fff 5px 5px 10px;
    border: 2px solid #fff;
    border-radius: 5px; 
}

footer {
    padding: 1rem;
    text-align:center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.definer {
    padding-left: 15px;
}

.definee {
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: x-large;
    font-weight: bold;
    text-shadow: #fff 3px 3px 10px;
}